$primary: #4EAB4F;
$primaryHover: #28B22A;

$black: #000000;
$grey: #7A7A7A;
$middleGrey:#888888;
$lightGrey: #DADADA;
$lightGrey2: #C2C2C2;
$secondGrey: #EBEDED;

$white: #ffffff;

$error: #E17777;

:root{
  background-color: $secondGrey;
  margin: 0;
}
